version: '3.8'

services:
  ergo-miner:
    build: .
    container_name: ergo-miner
    restart: unless-stopped
    env_file:
      - .env
    ports:
      - "4444:4444"
      - "4455:4455"
      - "4456:4456"
    deploy:
      resources:
        reservations:
          devices:
            - driver: nvidia
              count: all
              capabilities: [gpu]
